<launch>
  <arg name="rvizconfig" default="$(find ironfish_description)/rviz/ironfish.rviz" />
  <arg name="model" default="$(find ironfish_description)/robots/ironfish.urdf"/>

  <param name="robot_description" command="rosrun xacro xacro.py $(arg model)" />

  <node pkg="robot_state_publisher" type="robot_state_publisher"  name="robot_state_publisher">
     <param name="publish_frequency" type="double" value="30.0" />
  </node>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" />

</launch>
