<launch>
  <arg name="rvizconfig" default="$(find ironfish_navigation)/rviz/ironfish.rviz"/>
  <arg name="rviz" default="true"/>

  <include file="$(find ironfish_ros_control)/launch/ironfish_ros_control.launch">
    <arg name="rvizconfig" value="$(arg rvizconfig)"/>
    <arg name="rviz" value="$(arg rviz)"/>
  </include>
  <include file="$(find ironfish_navigation)/launch/real/urg.launch"/>
  <include file="$(find ironfish_navigation)/launch/real/move_base.launch"/>
  <include file="$(find ironfish_navigation)/launch/real/slam_gmapping.launch"/>
</launch>
